<div class="row mt-5">
  <div class="col">
    <span id="restaurant-id" data-id="<%= @restaurant.id %>"></span>
    <span id="user-fullname" data-value="<%= @fullname %>"></span>
    <span id="user-avatar-url" data-value="<%= @avatar_url %>"></span>
    <h3 id="restaurant-name"></h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row mt-3">
  <div id="single-restaurant" class="col-6">
    <!-- single restaurant data goes here -->
  </div>
  <div class="col-6">
    <h5>Comments</h5>
    <div id="single-restaurant-comments">
      <!-- single restaurant comment data goes here -->
    </div>
    <% if logged_in? %>
      <div class="comments-media mt-4">
        <div id="single-restaurant-new-comment">
          <h5>Add a new comment about this restaurant</h5>
          <form id="add-comment-form" action="/comments" method="post">
            <input type=hidden name="authenticity_token" value="<%= form_authenticity_token %>">
            <input id="form-restaurant-id" type="hidden" name="comment[restaurant_id]" value="">
            <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>">
            <div class="form-group">
              <label for="body-entry">Comments</label>
              <input id="body-entry" type="text" class="form-control" name="comment[body]">
            </div>
            <div class="form-group">
              <label for="rating-entry">Rating</label>
              <input id="rating-entry" type="text" class="form-control" name="comment[rating]">
            </div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
          </form>
        </div>
      </div>
    <% end %>
  </div>
</div>


