<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioProjectRailsJavascriptRestaurantExplorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <%= render partial: "layouts/navigation" %>
    </header>

    <%= render partial: "layouts/notice" %>
    
    <div>
      <%= yield %>
    </div>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
